// ## Colors

// ### Primary
$reaction-clr: hsl(0,100%,67%);
$memory-clr: hsl(39,100%,56%);
$verbal-clr: hsl(166,100%,37%);
$vision-clr: hsl(234,85%,45%);

// ## Gradients
$primary-bg1: hsl(252, 100%, 67%);
$primary-bg2: hsl(241, 81%, 54%);
$gradient-primary: linear-gradient($primary-bg1, $primary-bg2);

$secondary-bg1: hsla(256, 72%, 46%, 1);
$secondary-bg2: hsla(241, 72%, 46%, 0);
$gradient-secondary: linear-gradient($secondary-bg1, $secondary-bg2);

// ### Neutral
$neutral: hsl(0,0%,0%);
$neutral-blue: hsl(221, 100%, 96%);
$neutral-lavender: hsl(241, 100%, 89%);
$neutral-dark-gray-blue: hsl(224, 30%, 27%);

@font-face {
    font-family: 'HankenG';
    font-display: swap;
    font-weight: 100 900;
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf')format('truetype');
}

$font-family-default: 'HankenG';

$fw-regular: 500;
$fw-bold: 700;
$fw-black: 800;

$fs-400: 1.125rem;
$fs-500: 1.25rem;
$fs-600: 1.5rem;
$fs-700: 1.75rem;
$fs-800: 2rem;
$fs-900: 5rem;


